h1 {
	margin: 12px;
	margin-bottom: 0px;
	color: #1c1c1c;
	font-family: Century Gothic;
}

p1 {
	margin: 40px;
}

button {
	margin: 12px;
}

.marg40 {
	margin: 40px;
	margin-top: 20px;
}

.txtar {
	resize: none;
	width: 80%;
}